.wrapper{
    text-align: center;
    width:6rem;
    margin: auto;
}
.logo{
    height:1rem;
    width:4rem;
    background-image: url(../../images/logo1_blue.png);
    background-size: 4rem 1rem;
    margin: 50px auto 20px;
}
.desc{
    height:0.1rem;
    width:4rem;
}
