
// 颜色设置
$border-color: #e9e9e9; //边框颜色
$body-color: #333; //设置通用的字体颜色
$body-bg: #f2f2f2; //设置通用的 body 背景色
$link-color: #333; //设置通用的链接颜色
$link-visited: #333; //设置链接访问后的颜色
$main-color: #1BBC9B; //主体颜色
html{
    font-size:100px;
}
   

html,body{
    height:100%;
    width:100%;
}

body{
    font-size:0.16rem;
    background-color: $body-bg;
}

