.header{
    height:0.54rem;
    width:100%;
    color: rgba(255,255,255,0.75);
    background-color: #24292e;
    line-height: 0.54rem;
    text-align:center;
}
.wrapper{
    max-width: 10.12rem;
    min-width: 10.12rem;
    margin-right: auto;
    margin-left: auto;
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.logo{
    height:0.40rem;
    width:1.5rem;
    background-image: url(../../images/logo.png);
    background-size: 1.5rem 0.40rem;
}
.menu{
    height:0.54rem;
    margin-left:0.5rem;
}
.login{
    margin-left:auto;
}
.header_a{
    display:inline-block !important;
    color: rgba(255,255,255,0.75) !important;
}

.header_a:hover{
    color: rgba(255,255,255,1) !important;
}

